<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Customer List</title>
  </head>
<body>
<div class="container">
<h2 class="text-center mt-5">Customer List</h2>
    <div th:unless="${#lists.isEmpty(customers)}">
        <dl th:each="customer : ${customers}">
            <dt class="">
                <span>First Name: </span><span th:text="${customer.firstName}"></span>
            </dt>
            <dt>
                <span>Last Name: </span><span th:text="${customer.lastName}">Last Name:</span>
            </dt>
                <span>Email address: </span><span th:text="${customer.emailAddress}"></span>
            </dt>
            <dt>
                <span>City: </span><span th:text="${customer.city}"></span>
            </dt>
            <dt>
                <span>Phone: </span><span th:text="${customer.mobilePhone}"></span>
            </dt>
            <dt>
                <span>Job Title: </span><span th:text="${customer.jobTitle}"></span>
            </dt>
            <dt>
                <span>Web Page: </span><span th:text="${customer.webPage}"></span>
            </dt>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(customers)}" class="text-center">
        <p >No customers registered in the system</p>
        <a href="/customers/add" class="btn btn-primary">Add new customers</a>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>